body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#app-container {
  padding: 0px;
  border-radius: 0px;
}

#app-header {
  margin-bottom: 1px;
}

#app-header-toolbar{
  height: 46px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
}
